td:hover {
  color: rgb(7, 7, 7);
  font-weight: bold;
}
.content {
  padding: 10px;
  background: #f2f2f2;
  font-size: 14px;
}
.add {
  outline: none;
  background: none;
  border: none;
}
.edit {
  outline: none;
  background: none;
  border: none;
}
.save {
  outline: none;
  background: none;
  border: none;
}
.delete {
  outline: none;
  background: none;
  border: none;
}
.edit {
  padding: 5px 10px;
  cursor: pointer;
}
.save {
  padding: 5px 10px;
  cursor: pointer;
}
.delete {
  padding: 5px 10px;
  cursor: pointer;
}
.add {
  font-weight: bold;
  text-align: center;
  background: rgb(255, 174, 0);
  border: 1px solid black;
  color: rgb(252, 252, 249);
  font-size: 15px;
  padding: 0;
  padding: 3px 5px;
  cursor: pointer;
}
.add:hover {
  background: darken(#669cff, 10%);
  color: #eaeef0;
}

.save {
  display: none;
  background: #32ad60;
  color: #ffffff;
}
.save:hover {
  background: darken(#32ad60, 10%);
}
.edit {
  background: #2199e8;
  color: #ffffff;
}
.edit:hover {
  background: darken(#2199e8, 10%);
}

.delete {
  background: #ec5840;
  color: #ffffff;
}
.delete:hover {
  background: darken(#ec5840, 10%);
}
